In [177]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [282]:
df = pd.read_csv("../flatfiles/all_books.csv", parse_dates=["started", "finished"], dtype={"year": "Int16", "pages": "Int16", "rating": "float16"})

In [283]:
df

,title,author,started,finished,imprint,publishing_house,year,pages,duration,format,source,rating,other_authors,dnf,f_nf,price,genre,narrator,illustrator,translator,notes,Unnamed: 21
0,Uzumaki,Junji Ito,NaT,2017-05-17,Viz Media,Viz Media,2000,656,NaN,hardcover,Right Stuf Anime,4.0,Yuji Oniki,NaN,f,NaN,horror,NaN,NaN,NaN,NaN,NaN
1,The Shallows: What the Internet Is Doing to Ou...,Nicholas Carr,NaT,2017-10-01,Norton,W. W. Norton,2010,280,NaN,paperback,Amazon,4.0,NaN,NaN,nf,NaN,technology,NaN,NaN,NaN,NaN,NaN
2,The Sixth Extinction: An Unnatural History,Elizabeth Kolbert,NaT,2015-03-06,Henry Holt,Macmillan,2014,336,NaN,hardcover,NaN,4.0,NaN,NaN,nf,NaN,nature,NaN,NaN,NaN,NaN,NaN
3,The Name of the Wind (The Kingkiller Chronicle...,Patrick Rothfuss,NaT,2017-02-28,DAW,Penguin Random House,2007,662,NaN,hardcover,Amazon,4.0,NaN,NaN,f,NaN,fantasy,NaN,NaN,NaN,NaN,NaN
4,"The Wise Man's Fear (The Kingkiller Chronicle,...",Patrick Rothfuss,NaT,2017-03-13,DAW,Penguin Random House,2011,994,NaN,hardcover,Amazon,5.0,NaN,NaN,f,NaN,fantasy,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Thinking in Systems,Donella Meadows,2021-06-08,2021-06-14,Chelsea Green Publishing Company,Chelsea Green Publishing Company,2008,185,NaN,paperback,Library,NaN,NaN,NaN,nf,NaN,philosophy,NaN,NaN,NaN,NaN,NaN
663,Dark Age,Pierce Brown,2021-06-14,NaT,Del Rey,Penguin Random House,2019,757,NaN,hardcover,Library,NaN,NaN,NaN,f,NaN,sci-fi,NaN,NaN,NaN,NaN,NaN
664,An Introduction to Statistical Learning,Gareth James,2021-06-13,NaT,Springer,Springer,<NA>,<NA>,NaN,hardcover,Amazon,NaN,Daniela Witten; Trevor Hastie; Robert Tibshirani,NaN,nf,71.51,nature,NaN,NaN,NaN,NaN,NaN
665,Algorithms to Live By,Brian Christian,NaT,NaT,Henry Holt,Macmillan,2016,262,NaN,hardcover,Library,NaN,Tom Griffiths,NaN,nf,NaN,nature,NaN,NaN,NaN,NaN,NaN
666,Agents of Artifice (Planeswalker #1),Ari Marmell,2021-06-14,NaT,Wizards of the Coast,Wizards of the Coast,2009,474,NaN,ebook,Amazon,NaN,NaN,NaN,f,7.99,fantasy,NaN,NaN,NaN,NaN,NaN

In [284]:
df2 = df.copy()

In [285]:
df2.drop(columns=["dnf", "notes"], inplace=True)

In [286]:
df2["price"] = pd.to_numeric(df2["price"])

In [287]:
df2.drop(columns="Unnamed: 21", inplace=True)

In [288]:
df2.to_csv("../flatfiles/cleaned_books.csv", index=False, date_format="%Y-%m-%d")

In [289]:
df2

,title,author,started,finished,imprint,publishing_house,year,pages,duration,format,source,rating,other_authors,f_nf,price,genre,narrator,illustrator,translator
0,Uzumaki,Junji Ito,NaT,2017-05-17,Viz Media,Viz Media,2000,656,NaN,hardcover,Right Stuf Anime,4.0,Yuji Oniki,f,NaN,horror,NaN,NaN,NaN
1,The Shallows: What the Internet Is Doing to Ou...,Nicholas Carr,NaT,2017-10-01,Norton,W. W. Norton,2010,280,NaN,paperback,Amazon,4.0,NaN,nf,NaN,technology,NaN,NaN,NaN
2,The Sixth Extinction: An Unnatural History,Elizabeth Kolbert,NaT,2015-03-06,Henry Holt,Macmillan,2014,336,NaN,hardcover,NaN,4.0,NaN,nf,NaN,nature,NaN,NaN,NaN
3,The Name of the Wind (The Kingkiller Chronicle...,Patrick Rothfuss,NaT,2017-02-28,DAW,Penguin Random House,2007,662,NaN,hardcover,Amazon,4.0,NaN,f,NaN,fantasy,NaN,NaN,NaN
4,"The Wise Man's Fear (The Kingkiller Chronicle,...",Patrick Rothfuss,NaT,2017-03-13,DAW,Penguin Random House,2011,994,NaN,hardcover,Amazon,5.0,NaN,f,NaN,fantasy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Thinking in Systems,Donella Meadows,2021-06-08,2021-06-14,Chelsea Green Publishing Company,Chelsea Green Publishing Company,2008,185,NaN,paperback,Library,NaN,NaN,nf,NaN,philosophy,NaN,NaN,NaN
663,Dark Age,Pierce Brown,2021-06-14,NaT,Del Rey,Penguin Random House,2019,757,NaN,hardcover,Library,NaN,NaN,f,NaN,sci-fi,NaN,NaN,NaN
664,An Introduction to Statistical Learning,Gareth James,2021-06-13,NaT,Springer,Springer,<NA>,<NA>,NaN,hardcover,Amazon,NaN,Daniela Witten; Trevor Hastie; Robert Tibshirani,nf,71.51,nature,NaN,NaN,NaN
665,Algorithms to Live By,Brian Christian,NaT,NaT,Henry Holt,Macmillan,2016,262,NaN,hardcover,Library,NaN,Tom Griffiths,nf,NaN,nature,NaN,NaN,NaN
666,Agents of Artifice (Planeswalker #1),Ari Marmell,2021-06-14,NaT,Wizards of the Coast,Wizards of the Coast,2009,474,NaN,ebook,Amazon,NaN,NaN,f,7.99,fantasy,NaN,NaN,NaN

In [130]:
books = books_test[["index", "title", "imprint", "year", "pages", "duration", "format", "f_nf", "genre", "authorPK"]]

In [131]:
books

,index,title,imprint,year,pages,duration,format,f_nf,genre,authorPK
0,0,Uzumaki,Viz Media,2000.0,656.0,NaN,hardcover,f,horror,1
1,1,The Shallows: What the Internet Is Doing to Ou...,Norton,2010.0,280.0,NaN,paperback,nf,technology,2
2,405,The Shallows: What the Internet Is Doing to Ou...,Norton,2009.0,228.0,NaN,paperback,nf,technology,2
3,2,The Sixth Extinction: An Unnatural History,Henry Holt,2014.0,336.0,NaN,hardcover,nf,nature,3
4,412,The Sixth Extinction: An Unnatural History,Picador,2014.0,269.0,NaN,paperback,nf,nature,3
...,...,...,...,...,...,...,...,...,...,...
887,661,Rent-A-Girlfriend (Volume 6),Kodansha Comics,2017.0,208.0,NaN,gn,f,romance,412
888,662,Thinking in Systems,Chelsea Green Publishing Company,2008.0,185.0,NaN,paperback,nf,philosophy,413
889,664,An Introduction to Statistical Learning,Springer,NaN,NaN,NaN,hardcover,nf,nature,414
890,665,Algorithms to Live By,Henry Holt,2016.0,262.0,NaN,hardcover,nf,nature,415
891,666,Agents of Artifice (Planeswalker 1),Wizards of the Coast,2009.0,474.0,NaN,ebook,f,fantasy,416

In [132]:
books.drop_duplicates(subset=["title"], inplace=True)

<ipython-input-132-0a64385ce2ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.drop_duplicates(subset=["title"], inplace=True)

In [133]:
books

,index,title,imprint,year,pages,duration,format,f_nf,genre,authorPK
0,0,Uzumaki,Viz Media,2000.0,656.0,NaN,hardcover,f,horror,1
1,1,The Shallows: What the Internet Is Doing to Ou...,Norton,2010.0,280.0,NaN,paperback,nf,technology,2
3,2,The Sixth Extinction: An Unnatural History,Henry Holt,2014.0,336.0,NaN,hardcover,nf,nature,3
5,3,The Name of the Wind (The Kingkiller Chronicle...,DAW,2007.0,662.0,NaN,hardcover,f,fantasy,4
7,4,"The Wise Man's Fear (The Kingkiller Chronicle,...",DAW,2011.0,994.0,NaN,hardcover,f,fantasy,4
...,...,...,...,...,...,...,...,...,...,...
887,661,Rent-A-Girlfriend (Volume 6),Kodansha Comics,2017.0,208.0,NaN,gn,f,romance,412
888,662,Thinking in Systems,Chelsea Green Publishing Company,2008.0,185.0,NaN,paperback,nf,philosophy,413
889,664,An Introduction to Statistical Learning,Springer,NaN,NaN,NaN,hardcover,nf,nature,414
890,665,Algorithms to Live By,Henry Holt,2016.0,262.0,NaN,hardcover,nf,nature,415
891,666,Agents of Artifice (Planeswalker 1),Wizards of the Coast,2009.0,474.0,NaN,ebook,f,fantasy,416

In [251]:
authors = df2[["author", "other_authors", "narrator", "illustrator", "translator"]]

In [252]:
authors.drop_duplicates(inplace=True)

<ipython-input-252-ed3f23405da7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors.drop_duplicates(inplace=True)

In [253]:
authors.fillna("", inplace=True)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4459: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [254]:
authors

,author,other_authors,narrator,illustrator,translator
0,Junji Ito,Yuji Oniki,,,
1,Nicholas Carr,,,,
2,Elizabeth Kolbert,,,,
3,Patrick Rothfuss,,,,
5,Joe Abercrombie,,,,
...,...,...,...,...,...
656,Reiji Miyajima,,,Reiji Miyajima,Kevin Gifford
662,Donella Meadows,,,,
664,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani,,,
665,Brian Christian,Tom Griffiths,,,
666,Ari Marmell,,,,

In [255]:
authors["author"] = authors.apply(lambda x: "; ".join([x["author"], x["other_authors"]]), axis=1)

<ipython-input-255-e5fa6a079351>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors["author"] = authors.apply(lambda x: "; ".join([x["author"], x["other_authors"]]), axis=1)

In [256]:
authors["author"] = authors["author"].str.replace(",", ";")

<ipython-input-256-b9f4527100c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors["author"] = authors["author"].str.replace(",", ";")

In [257]:
authors["author"] = authors["author"].str.replace("; $", "", regex=True)

<ipython-input-257-596a77191ad3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors["author"] = authors["author"].str.replace("; $", "", regex=True)

In [262]:
authors = authors[["author"]].drop_duplicates()

In [266]:
authors.columns = ["name"]

In [267]:
authors.to_csv("../flatfiles/authors.csv", index=False)

In [116]:
authors.reset_index(drop=True, inplace=True)

In [119]:
authors.reset_index(inplace=True)

In [120]:
authors

,index,author,other_authors
0,0,Junji Ito,Yuji Oniki
1,1,Nicholas Carr,NaN
2,2,Elizabeth Kolbert,NaN
3,3,Patrick Rothfuss,NaN
4,4,Joe Abercrombie,NaN
...,...,...,...
411,411,Reiji Miyajima,NaN
412,412,Donella Meadows,NaN
413,413,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani
414,414,Brian Christian,Tom Griffiths
415,415,Ari Marmell,NaN

In [121]:
authors.rename(columns={"index": "authorPK"}, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [123]:
authors["authorPK"] = authors["authorPK"] + 1

<ipython-input-123-df62a68b16e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  authors["authorPK"] = authors["authorPK"] + 1

In [124]:
authors = authors[["author", "ot"]]

,authorPK,author,other_authors
0,1,Junji Ito,Yuji Oniki
1,2,Nicholas Carr,NaN
2,3,Elizabeth Kolbert,NaN
3,4,Patrick Rothfuss,NaN
4,5,Joe Abercrombie,NaN
...,...,...,...
411,412,Reiji Miyajima,NaN
412,413,Donella Meadows,NaN
413,414,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani
414,415,Brian Christian,Tom Griffiths
415,416,Ari Marmell,NaN

In [127]:
books_test = pd.merge(df2, authors[["authorPK", "author"]], on="author")

In [128]:
books_test

,index,title,author,started,finished,imprint,publishing_house,year,pages,duration,format,source,rating,other_authors,f_nf,price,genre,narrator,illustrator,translator,Unnamed: 21,authorPK
0,0,Uzumaki,Junji Ito,NaN,5/17/17,Viz Media,Viz Media,2000.0,656.0,NaN,hardcover,Right Stuf Anime,4.0,Yuji Oniki,f,NaN,horror,NaN,NaN,NaN,NaN,1
1,1,The Shallows: What the Internet Is Doing to Ou...,Nicholas Carr,NaN,10/1/17,Norton,W. W. Norton,2010.0,280.0,NaN,paperback,Amazon,4.0,NaN,nf,NaN,technology,NaN,NaN,NaN,NaN,2
2,405,The Shallows: What the Internet Is Doing to Ou...,Nicholas Carr,8/25/18,8/27/18,Norton,W. W. Norton,2009.0,228.0,NaN,paperback,Amazon,4.0,NaN,nf,NaN,technology,NaN,NaN,NaN,NaN,2
3,2,The Sixth Extinction: An Unnatural History,Elizabeth Kolbert,NaN,3/6/15,Henry Holt,Macmillan,2014.0,336.0,NaN,hardcover,NaN,4.0,NaN,nf,NaN,nature,NaN,NaN,NaN,NaN,3
4,412,The Sixth Extinction: An Unnatural History,Elizabeth Kolbert,9/9/18,9/14/18,Picador,Macmillan,2014.0,269.0,NaN,paperback,NaN,4.0,NaN,nf,NaN,nature,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,661,Rent-A-Girlfriend (Volume 6),Reiji Miyajima,6/5/21,6/5/21,Kodansha Comics,Kodansha,2017.0,208.0,NaN,gn,Bookshop.org,5.0,NaN,f,11.95,romance,NaN,Reiji Miyajima,Kevin Gifford,NaN,412
888,662,Thinking in Systems,Donella Meadows,06/08/21,06/14/21,Chelsea Green Publishing Company,Chelsea Green Publishing Company,2008.0,185.0,NaN,paperback,Library,NaN,NaN,nf,NaN,philosophy,NaN,NaN,NaN,NaN,413
889,664,An Introduction to Statistical Learning,Gareth James,06/13/21,NaN,Springer,Springer,NaN,NaN,NaN,hardcover,Amazon,NaN,Daniela Witten; Trevor Hastie; Robert Tibshirani,nf,71.51,nature,NaN,NaN,NaN,NaN,414
890,665,Algorithms to Live By,Brian Christian,NaN,NaN,Henry Holt,Macmillan,2016.0,262.0,NaN,hardcover,Library,NaN,Tom Griffiths,nf,NaN,nature,NaN,NaN,NaN,NaN,415
891,666,Agents of Artifice (Planeswalker 1),Ari Marmell,06/14/21,NaN,Wizards of the Coast,Wizards of the Coast,2009.0,474.0,NaN,ebook,Amazon,NaN,NaN,f,7.99,fantasy,NaN,NaN,NaN,NaN,416

In [93]:
authors.dr

,index,author,other_authors,title
0,0,Junji Ito,Yuji Oniki,Uzumaki
1,1,Nicholas Carr,NaN,The Shallows: What the Internet Is Doing to Ou...
2,2,Elizabeth Kolbert,NaN,The Sixth Extinction: An Unnatural History
3,3,Patrick Rothfuss,NaN,The Name of the Wind (The Kingkiller Chronicle...
4,4,Patrick Rothfuss,NaN,"The Wise Man's Fear (The Kingkiller Chronicle,..."
...,...,...,...,...
662,662,Donella Meadows,NaN,Thinking in Systems
663,663,Pierce Brown,NaN,Dark Age
664,664,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani,An Introduction to Statistical Learning
665,665,Brian Christian,Tom Griffiths,Algorithms to Live By
666,666,Ari Marmell,NaN,Agents of Artifice (Planeswalker 1)

In [21]:
authors.reset_index(inplace=True)

In [23]:
authors.rename(columns={"PK": "BookPK", "index": "PK"}, inplace=True)

In [24]:
authors

,PK,author,other_authors,BookPK
0,0,Junji Ito,Yuji Oniki,0
1,1,Nicholas Carr,NaN,1
2,2,Nicholas Carr,NaN,405
3,3,Nicholas Carr,NaN,1
4,4,Nicholas Carr,NaN,405
...,...,...,...,...
908,908,Donella Meadows,NaN,662
909,909,Pierce Brown,NaN,663
910,910,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani,664
911,911,Brian Christian,Tom Griffiths,665
912,912,Ari Marmell,NaN,666

In [29]:
test = pd.merge(authors[["author", "BookPK"]], books[["PK", "title"]], left_on="BookPK", right_on="PK").drop_duplicates()

In [30]:
test["BookPK"].value_counts()

355    2
627    2
449    1
441    1
442    1
      ..
223    1
224    1
225    1
226    1
666    1
Name: BookPK, Length: 667, dtype: int64

In [31]:
test[test["BookPK"] == 355]

                author  BookPK   PK         title
501     Benedict Carey     355  355  How We Learn
503  Stanislas Dehaene     355  355  How We Learn

In [136]:
books

,index,title,imprint,year,pages,duration,format,f_nf,genre,authorPK
0,0,Uzumaki,Viz Media,2000.0,656.0,NaN,hardcover,f,horror,1
1,1,The Shallows: What the Internet Is Doing to Ou...,Norton,2010.0,280.0,NaN,paperback,nf,technology,2
3,2,The Sixth Extinction: An Unnatural History,Henry Holt,2014.0,336.0,NaN,hardcover,nf,nature,3
5,3,The Name of the Wind (The Kingkiller Chronicle...,DAW,2007.0,662.0,NaN,hardcover,f,fantasy,4
7,4,"The Wise Man's Fear (The Kingkiller Chronicle,...",DAW,2011.0,994.0,NaN,hardcover,f,fantasy,4
...,...,...,...,...,...,...,...,...,...,...
887,661,Rent-A-Girlfriend (Volume 6),Kodansha Comics,2017.0,208.0,NaN,gn,f,romance,412
888,662,Thinking in Systems,Chelsea Green Publishing Company,2008.0,185.0,NaN,paperback,nf,philosophy,413
889,664,An Introduction to Statistical Learning,Springer,NaN,NaN,NaN,hardcover,nf,nature,414
890,665,Algorithms to Live By,Henry Holt,2016.0,262.0,NaN,hardcover,nf,nature,415
891,666,Agents of Artifice (Planeswalker 1),Wizards of the Coast,2009.0,474.0,NaN,ebook,f,fantasy,416

In [134]:
authors

,authorPK,author,other_authors
0,1,Junji Ito,Yuji Oniki
1,2,Nicholas Carr,NaN
2,3,Elizabeth Kolbert,NaN
3,4,Patrick Rothfuss,NaN
4,5,Joe Abercrombie,NaN
...,...,...,...
411,412,Reiji Miyajima,NaN
412,413,Donella Meadows,NaN
413,414,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani
414,415,Brian Christian,Tom Griffiths
415,416,Ari Marmell,NaN

In [135]:
pd.merge(authors, books, on="authorPK")

,authorPK,author,other_authors,index,title,imprint,year,pages,duration,format,f_nf,genre
0,1,Junji Ito,Yuji Oniki,0,Uzumaki,Viz Media,2000.0,656.0,NaN,hardcover,f,horror
1,2,Nicholas Carr,NaN,1,The Shallows: What the Internet Is Doing to Ou...,Norton,2010.0,280.0,NaN,paperback,nf,technology
2,3,Elizabeth Kolbert,NaN,2,The Sixth Extinction: An Unnatural History,Henry Holt,2014.0,336.0,NaN,hardcover,nf,nature
3,4,Patrick Rothfuss,NaN,3,The Name of the Wind (The Kingkiller Chronicle...,DAW,2007.0,662.0,NaN,hardcover,f,fantasy
4,4,Patrick Rothfuss,NaN,4,"The Wise Man's Fear (The Kingkiller Chronicle,...",DAW,2011.0,994.0,NaN,hardcover,f,fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...
621,412,Reiji Miyajima,NaN,661,Rent-A-Girlfriend (Volume 6),Kodansha Comics,2017.0,208.0,NaN,gn,f,romance
622,413,Donella Meadows,NaN,662,Thinking in Systems,Chelsea Green Publishing Company,2008.0,185.0,NaN,paperback,nf,philosophy
623,414,Gareth James,Daniela Witten; Trevor Hastie; Robert Tibshirani,664,An Introduction to Statistical Learning,Springer,NaN,NaN,NaN,hardcover,nf,nature
624,415,Brian Christian,Tom Griffiths,665,Algorithms to Live By,Henry Holt,2016.0,262.0,NaN,hardcover,nf,nature
625,416,Ari Marmell,NaN,666,Agents of Artifice (Planeswalker 1),Wizards of the Coast,2009.0,474.0,NaN,ebook,f,fantasy

In [290]:
imprints = df2[["imprint", "publishing_house"]]

In [291]:
imprints

                              imprint                  publishing_house
0                           Viz Media                         Viz Media
1                              Norton                      W. W. Norton
2                          Henry Holt                         Macmillan
3                                 DAW              Penguin Random House
4                                 DAW              Penguin Random House
..                                ...                               ...
662  Chelsea Green Publishing Company  Chelsea Green Publishing Company
663                           Del Rey              Penguin Random House
664                          Springer                          Springer
665                        Henry Holt                         Macmillan
666              Wizards of the Coast              Wizards of the Coast

[667 rows x 2 columns]

In [292]:
imprints.drop_duplicates(inplace=True)

<ipython-input-292-8ca514ea90d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imprints.drop_duplicates(inplace=True)

In [293]:
imprints

             imprint      publishing_house
0          Viz Media             Viz Media
1             Norton          W. W. Norton
2         Henry Holt             Macmillan
3                DAW  Penguin Random House
5           Gollancz                 Orion
..               ...                   ...
632      Grove Press                 Grove
636   Graphics Press        Graphics Press
637         Springer              Springer
639     J-Novel Club          J-Novel Club
656  Kodansha Comics              Kodansha

[256 rows x 2 columns]

In [294]:
imprints.to_csv("../flatfiles/imprints.csv", index=False)

In [277]:
imprints[imprints["imprint"].isna()]

    imprint publishing_house
631     NaN              NaN

In [278]:
df2[df2["imprint"].isna()]

,title,author,started,finished,imprint,publishing_house,year,pages,duration,format,source,rating,other_authors,f_nf,price,genre,narrator,illustrator,translator
631,The Self-Taught Programmer,Cory Althoff,NaT,NaT,NaN,NaN,<NA>,<NA>,NaN,paperback,Amazon,NaN,NaN,nf,18.52,comp-sci,NaN,NaN,NaN
638,Foundations of Statistics,Leonard J. Savage,NaT,NaT,NaN,NaN,<NA>,<NA>,NaN,paperback,Bookshop.org,NaN,NaN,nf,18.35,nature,NaN,NaN,NaN

In [281]:
df2.iloc[631]["imprint"]

nan